header{
    background: white;
    padding: 20px 0px;
    border-style: solid;
    border: black;
}

.cabecalho{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #00588C;
    border-bottom: 2px solid;
    line-height: 1.4;
    margin: 0 8em;
    padding: 20px 0 0 0;
}

body{
    background-color: #4283A9;
}
main{
    width: 1240px;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    min-height: 100%;
    height: auto;
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Darker Grotesque', sans-serif; 
    margin: 30px 0px;
}

.login{
    margin: 40px;
}

.input-padrao{
    display: block;
    margin: 15px auto;
    padding: 10px 25px;
    width: 50%;
    cursor: text;
}

.opcoes{
    margin: 10px 0;
    padding: 10px 0;
}



.opcoes_orientador, .opcoes_login{
    margin: 5em 0 0 0;
}

.opcoes_administrador{
    margin: 0 2em 0 0;
}

.botao{
    padding: 1em 10px;
    background-color: #294c74;
    border: none;
    border-radius: 10px;
    min-width: 15%;
    width: auto;
    margin: 0.5em;
    transition: 0.25s;
    color: #FFFFF9;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 12px;
    text-align: center;
}

.botao:hover{
    border: 1px solid black;
    cursor: pointer;
}

.enviar{
    width: 15%;
    padding: 1em;
}

.botao_orientacao, .botao_login{
    padding: 1em 10px;
    background-color: #294c74;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 1em;
    transition: 0.25s;
    color: #FFFFF9;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    text-align: center;
}

#botao_gd{
    font-size: 20px;
}

.botao_orientacao:hover, .botao_login:hover{
    border: 2px solid black;
    cursor: pointer;
}

.container{
	width: 60%;
	height: 100%;
	margin: 2em auto;
}

#filtrar-tabela{
    margin: 0.5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

.tabela_organizar_orientacao{
    width: 70%;
    margin: 2em auto;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

.secao_enviar{
    margin: 100px 190px;
    width: 70%;
    height: 20%;
    border: solid black;
    border-width: 1px;
}