header{
    background: #294c74;
    padding: 20px 0;
    border-style: solid;
    border: black;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

main{
    width: 940px;
    text-align: center;
    margin: 20px auto;
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Darker Grotesque', sans-serif; 
    margin: 30px 0px;
}

.botao{
    padding: 1em 65px;
    background-color: #294c74;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 50%;
    margin: 0.5em;
    transition: 0.25s;
    color: #FFFFF9;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}